*{
  padding: 0px;
  margin: 0px;
}
body{
  color: #e3e2d8;
  background-color: #0b3840;
}
/*Start of Navagation styles*/
nav{
  background-color: #222323;
}
/*End of Navagation styles*/

/*Start of Most Popular styles*/

/*End of Most Popular styles*/

/*Start of Game Card styles*/
#games_section h1{
  text-align: center;
}
#games_section figcaption{
  display: none;
}

.game_card{
	border-style: solid;
  border-width: 3px;

  border-color: #222323;
  background-color: #396073;

  width: 22rem;
  margin: 64px;
}

.game_card_image{
  border-style: solid;
  border-width: 0px 3px 3px 0px;
  border-color: #222323;

  height: 180px;

  float: left;
}
.game_card_title{
  text-align: center;
  font-size: 2rem;
  margin: 0.3rem 0px 0.3rem 0px;
}
.game_card_tag{
  text-align: center;
  font-size: 1.5rem;
}
.game_card_tag_text{
  text-align: center;
  font-size: 1.3rem;
}
.game_card_desc{
  clear: both;

  margin: 1rem .5rem .5rem .5rem;
}
.game_price{
  float: right;

  margin: 0.3rem;
  padding: 0.3rem;

  font-size: 1.5rem;
}
.buy_now_button{
  display: block;

  width: 6rem;

  margin: 0.5rem;
  padding: 0.5rem;

  font-size: 1.5rem;

  background-color: #222323;

  text-decoration: none;
}
.buy_now_button:visited{
  color: white;
  text-decoration: none;
}
/*Start of Game Card styles*/

/*Start of Footer styles*/

/*End of Footer styles*/
