*{
  padding: 0px;
  margin: 0px;

  box-sizing: border-box;
}
body{
  color: #e3e2d8;
  background-color: #0b3840;
}
/*Start of Navagation styles*/
nav{
  background-color: #222323;
}

  /*Start of menu hamburger styles*/

:root {
  --primary-color: rgba(227, 226, 216, .75);
  --menu_background-color:  rgba(34, 35, 35, 0.85);
  --overlay-color: rgba(11, 56, 64, 0.85);
  --menu-speed: 0.5s;
}



.menu-wrap {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}

.menu-wrap .toggler{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  width: 64px;
  height: 64px;
  opacity: 0;
}

.menu-wrap .hamburger{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 64px;
  height: 64px;
  padding: 1rem;
  background: var(--menu_background-color);
  display: flex;
  align-items: center;
  justify-content: center;
}


.menu-wrap .hamburger > div{
  position: relative;
  width: 100%;
  height: 4px;
  background: var(--primary-color);
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after{
  content: '';
  position: absolute;
  z-index: 1;
  top: -12px;
  width: 100%;
  height: 4px;
  background: var(--primary-color);
}

.menu-wrap .hamburger > div:after{
  top: 12px;
}


.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(225deg);
}

.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(135deg);
}





.menu-wrap .toggler:checked ~ .menu{
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div{
  opacity: 1;
  transform: opacity 0.4s ease;
}


.menu-wrap .menu{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div {
  background: var(--overlay-color);
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;

  transform: scale(0);
  transition: all 0.4s ease;
}

.menu-wrap .menu > div > div{
  text-align: center;
  max-width: 90vw;
  max-height: 100vw;

  opacity: 0;
  transition: all 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li{
  list-style: none;
  color: #e3e2d8;
  font-size: 1.5rem;
  padding: 1.5rem;
}
.menu-wrap .menu > div > div > ul > li > a:hover{
  color: var(--menu_background-color);
  background-color: var(--primary-color);
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
  padding: 1.5rem 2rem;
}
  /*End of menu hamburger styles*/

/*End of Navagation styles*/

/*Start of Most Popular styles*/

/*End of Most Popular styles*/

/*Start of Game Card styles*/
#games_section h1{
  text-align: center;
}
#games_section figcaption{
  display: none;
}

.game_card{
	border-style: solid;
  border-width: 3px;

  border-color: #222323;
  background-color: #396073;

  width: 22rem;
  margin: 64px;
}

.game_card_image{
  border-style: solid;
  border-width: 0px 3px 3px 0px;
  border-color: #222323;

  height: 183px;

  float: left;
}
.game_card_title{
  text-align: center;
  font-size: 2rem;
  margin: 0.3rem 0px 0.3rem 0px;
}
.game_card_tag{
  text-align: center;
  font-size: 1.5rem;
}
.game_card_tag_text{
  text-align: center;
  font-size: 1.3rem;
}
.game_card_desc{
  clear: both;

  margin: 1rem .5rem .5rem .5rem;
}
.game_price{
  float: right;

  margin: 0.3rem;
  padding: 0.3rem;

  font-size: 1.5rem;
}
.buy_now_button{
  display: block;

  width: 7rem;

  margin: 0.5rem;
  padding: 0.5rem;

  font-size: 1.5rem;

  background-color: #222323;

  text-decoration: none;
}
.buy_now_button:visited{
  color: white;
  text-decoration: none;
}
/*Start of Game Card styles*/

/*Start of Footer styles*/

/*End of Footer styles*/
